<div ng-controller="QuickBuildController" class="" style="height: 100%; width: 100%;">

    <div class="hbox hbox-auto-xs bg-light  ng-scope" ng-init="
  app.appcontentfull = true;
  app.hideFooter=true;
  ">
        <!-- column -->
        <div class="col w lter b-r">
            <div class="vbox">
                <div class="wrapper b-b">
                    <div class="font-thin h4">数据库</div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="">

                                <div>
                                    <div>
                                        <select ng-model="config.connectid"
                                                ng-options="val.ID as val.Name for (key,val) in connects"
                                                ng-change="getdatabases(config.connectid)"
                                                class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <select ng-model="config.database"
                                                ng-options="key as key for (key,val) in connects[config.connectid].databases"
                                                ng-change="gettablelist(config.connectid,config.database)"
                                                class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="list-group">
                                        <a ng-repeat="(key,val) in connects[config.connectid].databases[config.database]"
                                           ng-click="addtable(key)"
                                           class="list-group-item">
                                            {{key}}
                                            <i class="fa fa-plus pull-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <textarea class="form-control">{{connects}}</textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->

        <!-- column -->
        <div class="col">
            <div class="vbox">
                <div class="wrapper b-b">
                    <span class="font-thin h4">一键生成页面</span>
                    <a class="btn btn-success pull-right" style="margin-top: -5px;" ng-click="createpages()">生成页面</a>

                </div>

                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <div class="" style=" ">
                                    <div ng-repeat="(tablename,tableconfig) in config.tables" class="panel panel-default w m pull-left" style="flex-shrink:0;">
                                        <div class="panel-heading">{{tablename}}<i class="fa fa-remove pull-right" ng-click="removetable(tablename)"></i></div>
                                        <div class="list-group" style="height: 200px; overflow: auto">
                                            <div href ng-repeat="(columnname, columnconfig) in tableconfig" class="list-group-item wrapper-xs padder"
                                                 ng-class="{'active':editing.column==columnconfig}"
                                                 ng-click="editing.column=columnconfig">
                                                <span class="text-warning pull-right" style="" title="{{columnconfig.type}}">{{columnconfig.type.substring(0,1).toUpperCase()}}</span>
                                                <input type="checkbox" ng-model="columnconfig.display"/>
                                                <span ng-class="{'text-primary':columnconfig.primary_key}">{{columnname}}</span>
                                                <span ng-show="columnconfig.primary_key" class="text-primary" title="主键"><i class="fa fa-key"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <textarea class="form-control">{{config}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->

        <!-- column -->
        <div class="col w-md lter b-l">
            <div class="vbox">
                <div class="wrapper b-b b-light">
                    <div class="font-thin h4">属性</div>
                </div>
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md" ng-show="editing.column">
                                <div class="form-group">
                                    <label>显示</label>
                                    <input type="checkbox" ng-model="editing.column.display"/>
                                </div>
                                <div class="form-group">
                                    <label>显示名称</label>
                                    <input type="text" ng-model="editing.column.displayname" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>对齐方式</label>
                                    <select ng-model="editing.column.align" class="form-control">
                                        <option value="left">左对齐</option>
                                        <option value="center">居中</option>
                                        <option value="right">右对齐</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>类型</label>
                                    <select ng-model="editing.column.type" class="form-control">
                                        <option value="text">文本</option>
                                        <option value="textarea">多行文本</option>
                                        <option value="richtextarea">富文本</option>
                                        <option value="number">数字</option>
                                        <option value="datetime">日期时间</option>
                                        <option value="timestamp">时间戳</option>
                                        <option value="currency">货币</option>
                                        <option value="enum">枚举</option>
                                        <option value="template">自定义模板</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-show="editing.column.type=='number'">
                                    <label>保留小数位数</label>
                                    <input type="number" ng-model="editing.column.fractionSize" class="form-control"/>
                                </div>
                                <div class="form-group" ng-show="editing.column.type=='datetime' || editing.column.type=='timestamp'">
                                    <label>格式化</label>
                                    <input type="text" ng-model="editing.column.datetimeformat" class="form-control"/>
                                </div>
                                <div class="form-group" ng-show="editing.column.type=='datetime' || editing.column.type=='timestamp'">
                                    <label>最小视图</label>
                                    <select ng-model="editing.column.datetimeminView" class="form-control">
                                        <option value="minute">minute</option>
                                        <option value="hour">hour</option>
                                        <option value="day">day</option>
                                        <option value="month">month</option>
                                        <option value="year">year</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-show="editing.column.type=='datetime' || editing.column.type=='timestamp'">
                                    <label>起始视图</label>
                                    <select ng-model="editing.column.datetimestartView" class="form-control">
                                        <option value="minute">minute</option>
                                        <option value="hour">hour</option>
                                        <option value="day">day</option>
                                        <option value="month">month</option>
                                        <option value="year">year</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-show="editing.column.type=='enum'">
                                    <label>枚举内容</label>

                                    <div>
                                        <table>
                                            <tr ng-repeat="option in editing.column.options">
                                                <td><input type="text" ng-model="option.label" class="form-control"/></td>
                                                <td><input type="text" ng-model="option.value" class="form-control"/></td>
                                            </tr>
                                        </table>
                                        <a ng-click="editing.column.options.push({label:'',value:''})">添加</a>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="editing.column.type=='template'">
                                    <label>模板内容</label>
                                    <textarea ng-model="editing.column.formater" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>绑定字段</label>

                                    <div>
                                        <label><input type="checkbox" ng-model="editing.column.isfilter"/>筛选</label>
                                        <label><input type="checkbox" ng-model="editing.column.isorderby"/>排序</label>
                                        <label><input type="checkbox" ng-model="editing.column.isedit"/>修改</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>外键关联</label>

                                    <div>
                                        表
                                        <select ng-model="editing.column.link.table"
                                                ng-options="key as key for (key,val) in config.tables"
                                                class="form-control">
                                            <option value=""></option>
                                        </select>
                                        参考字段
                                        <select ng-model="editing.column.link.columnname"
                                                ng-options="key as key for (key,val) in config.tables[editing.column.link.table]"
                                                class="form-control">
                                        </select>
                                        显示字段
                                        <select ng-model="editing.column.link.columnname_display"
                                                ng-options="key as key for (key,val) in config.tables[editing.column.link.table]"
                                                class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="padder b-t b-light text-center">
                    <div class="m-xs">Footer with fluid height</div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>

</div>