<div class="aside-wrap">
    <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
      <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
    -->
    <div class="navi-wrap {{configs.project_nav.color}}">
        <!-- nav -->
        <nav ui-nav class="navi" >
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-repeat-start="item in configs.project_nav.list">
                    <span>{{item.title}}</span>
                </li>
                <li ng-repeat="item in item.children">
                    <a class="auto" ng-href="{{item.url}}">
            <span class="pull-right text-muted" ng-if="item.children.length>0">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
                        <i class="{{item.icon}}"></i>
                        <span class="font-bold">{{item.title}}</span>
                    </a>
                    <ul class="nav nav-sub dk" ng-if="item.children.length>0">
                        <li class="nav-sub-header">
                            <a class="auto" ng-href="{{item.url}}">
                                <i class="{{item.icon}}"></i>
                                <span>{{item.title}}</span>
                            </a>
                        </li>
                        <li ng-repeat="item in item.children">
                            <a class="auto" ng-href="{{item.url}}">
                                <i class="{{item.icon}}"></i>
                                <span>{{item.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--<li class="line dk"></li>-->
                <li ng-repeat-end ng-show="0"></li>
            </ul>
        </nav>
        <!-- nav -->
    </div>
</div>