<div class="app-header navbar">
    <!-- navbar header -->
    <div class="navbar-header {{configs.system_nav.header_color}}" ng-class="{'box-shadow':!configs.project_nav.display}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a ui-sref="app.projects" href class="navbar-brand text-lt">
            <i class="fa fa-home"></i>
            <!--<img src="img/logo.png" alt="." class="hide">-->
            <span class="hidden-folded m-l-xs" ng-show="configs.system_nav.display_project_name">{{project.Name}}</span>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->

    <!--<div class="navbar-header app.settings.navbarHeaderColor">-->
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<a class="navbar-brand" href="#/projects" ng-show="configs.system_nav.display_project_name">{{project.Name}}</a>-->
    <!--</div>-->
    <div class="collapse navbar-collapse box-shadow {{configs.system_nav.collapse_color}}">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs" ng-show="configs.project_nav.display">
            <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
                <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
            </a>
        </div>
        <!-- / buttons -->

        <ul class="nav navbar-nav hidden-sm"  ng-show="configs.system_nav.display_page_nav">
            <li class="dropdown" uib-dropdown>
                <a href class="dropdown-toggle" uib-dropdown-toggle>Pages <b class="caret"></b></a>
                <ul class="dropdown-menu animated fadeInRight">
                    <li ng-repeat="page in pages | filter:{IsPublic:1}">
                        <a ui-sref="app.project.page({projectid:page.ProjectID, pageid:page.ID})">{{page.Title}}</a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a ui-sref="app.project.design({projectid:projectid, pageid:0})">新建页面</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a ng-click="pinpagelistbar=true">固定在左侧</a>-->
                    <!--</li>-->
                </ul>
            </li>
        </ul>
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" uib-dropdown   ng-show="configs.system_nav.display_users">
                <a href class="dropdown-toggle" uib-dropdown-toggle> <i class="fa fa-users fa-fw"></i> {{users.length}} <b class="caret"></b></a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight dropdown-menu-left">
                    <li ng-repeat="user in users">
                        <a href>
                            <span>{{user.Nickname}}</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href ng-click="showinvitationmodal()"><i class="fa fa-fw fa-plus-circle"></i>邀请新成员</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
            <li ui-sref-active="active">
                <a href class="dropdown-toggle" uib-dropdown-toggle ui-sref="app.project.settings"> <i class="fa fa-cog fa-fw"></i> 设置</a>
            </li>
            <!--<li class="dropdown" uib-dropdown>-->
                <!--<a href class="dropdown-toggle" uib-dropdown-toggle> <i class="fa fa-cog fa-fw"></i> 设置 <b class="caret"></b></a>-->
                <!--&lt;!&ndash; dropdown &ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="dropdown-menu animated fadeInRight dropdown-menu-left">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href ng-click="showconnectsmodal()">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>数据库连接</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a ui-sref="app.project.pages">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>页面管理</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a ui-sref="app.project.settings">项目设置</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a ui-sref="app.page.profile">菜单设置</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash; / dropdown &ndash;&gt;-->
            <!--</li>-->

            <div ng-include="'tpl/blocks/navbar-header-rightmenu.html'" include-replace></div>
        </ul>
    </div>
    <!--<div class="nav-menu-handler " uib-dropdown>-->
    <!--<a href class="dropdown-toggle clear" uib-dropdown-toggle>-->
    <!--<i class="fa fa-bars"></i>-->
    <!--菜单-->
    <!--</a>-->
    <!--&lt;!&ndash; dropdown &ndash;&gt;-->
    <!--<ul class="dropdown-menu animated fadeInRight w">-->
    <!--<li>-->
    <!--<a href ng-click="showconnectsmodal()">-->
    <!--<span>数据库连接</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a ui-sref="app.page.profile">菜单设置</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--&lt;!&ndash; / dropdown &ndash;&gt;-->
    <!--</div>-->
</div>