<div ng-controller="ProjectDashboardController">
    <div  ng-include="'admin/project/header.html'" include-replace></div>
    <div class="project-view " ng-class="{'on-pin-pagelist-bar':pinpagelistbar}">
        <div class="pagelist-view" ng-show="pinpagelistbar">
            <div class="panel-layer">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="page in pages | filter:{IsPublic:1}" ui-sref="app.project.page({projectid:page.ProjectID, pageid:page.ID})">{{page.Title}}</a>
                </div>
                <a ng-click="pinpagelistbar=false">取消固定</a>
            </div>
        </div>
        <div class="page-view" ui-view>
        </div>
    </div>
</div>