

/*html, body {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
/*html{*/
/*background-color: #F5F5F5;*/
/*}*/
body {
    font-family: "Helvetica Neue", "PingFang SC", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
    font-size: 14px;
    /*-webkit-font-smoothing: antialiased;*/
    line-height: 1.42857143;
    color: #58666e;
    background-color: #F5F5F5;
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2C3E50;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #BBBBBB;
}

.row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row-flex > section {
    min-width: 0;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.navigator .nav-inner {
    /*position: relative;*/
    z-index: 100;
    min-height: 48px;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}

.sub-navigator {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 1px solid #D9D9D9;
    z-index: 50;
    background-color: #F5F5F5;
    transition: right 218ms ease;
}

.project-navigation .nav-header {
    position: absolute;
    z-index: 2;
    left: 0;
    height: 50px;
    margin: 0;
    padding: 15px;
}

.project-navigation .nav-footer {
    position: absolute;
    right: 0;
    z-index: 2;
}

.project-navigation .nav-footer .dropdown-menu {
    right: 0;
    left: auto;
}

a {
    /*color:gray;*/
    cursor: pointer;
}

a:focus, a:hover {
    color: #3DA8F5;
}

a, a:focus, a:hover {
    text-decoration: none;
}

.project-navigation .nav-body {
    position: relative;
    white-space: nowrap;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project-navigation .nav-footer .nav-menu-handler {
    position: relative;
    padding: 15px 10px;
    margin: 0 5px;
    float: right;
    display: inline-block;
    text-align: center;
}

.project-navigation .nav-footer .nav-menu-handler a:hover,
.project-navigation .nav-footer .nav-menu-handler a:active {
    color: #3DA8F5;
}

.project-navigation .nav-footer .nav-menu-handler:not(:first-child):after {
    position: absolute;
    content: '';
    right: -5px;
    top: 16px;
    bottom: 16px;
    width: 1px;
    background-color: #A6A6A6;
}

.project-view.on-pin-pagelist-bar {
    padding-left: 300px;
}

.project-view.project-aside-display .project-aside {
    display: inherit;
}

.project-view.project-aside-display {
    padding-left: 200px;
}

.project-view {
    position: fixed;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    transition: all 218ms ease;
}

.project-aside {
    position: fixed;
    z-index: 49;
    top: 48px;
    bottom: 0;
    width: 200px;
    left: -200px;
    /*background-color: #FFF;*/
    border-right: 1px solid rgba(0, 0, 0, .1);
    min-height: calc(100vh - 100px);
    transform: translate(200px, 0px);
    display: none;
}

.panel-layer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: bottom 218ms ease;
}

.panel-layer {
    position: absolute;
}

.page-view {
    position: relative;
    height: 100%;
    /*background-color: #FFF;*/
    border-style: solid;
    border-width: 0;
    border-color: #E5E5E5;
    overflow: auto;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*-webkit-user-select: none;*/
}

.page-view-design {
    position: fixed;
    top: 50px;
    width: 100%;
    bottom: 0;
    /* height: 100%; */
    padding-top: 50px;
}

.page-view-design .toolbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F5F5F5;
    height: 50px;
    border-bottom: solid 1px #d9d9d9;
}

.add-wrap > a {
    display: block;
    color: #A6A6A6;
}

.add-wrap > a:focus, .add-wrap > a:hover {
    color: #3DA8F5;
}

.gray-bg {
    background-color: #eeeeee;
}

.sub-nav .nav-underscore {
    position: relative;
    height: 50px;
    border: none;
}

.nav-pills:after, .nav-pills:before, .nav-tabs:after, .nav-tabs:before, .nav-underscore:after, .nav-underscore:before {
    display: table;
    content: " ";
}

/*.nav>li, .nav>li>a {*/
/*display: block;*/
/*position: relative;*/
/*}*/
/*/!*.nav>li>a {*!/*/
/*/!*padding: 10px 15px;*!/*/
/*/!*}*!/*/
/*.nav-pills>li, .nav-tabs>li, .nav-underscore>li {*/
/*float: left;*/
/*}*/
.nav-underscore > li {
    margin-bottom: -2px;
}

.sub-nav .nav-underscore > li {
    float: left;
}

.project-navigation .nav-body ul.nav > li {
    z-index: 2;
    padding: 0 20px;
}

.nav-underscore > li > a {
    height: 55px;
    padding: 16px 0 18px;
    margin-right: 60px;
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid transparent;
}

.nav-underscore > .active > a {
    color: #3da8f5;
    border-bottom-color: #3da8f5;
}

.sub-nav .nav-underscore > li > a {
    display: inline-block;
    position: relative;
    height: 50px;
    margin: 0 20px;
    padding: 15px 5px;
    color: #383838;
    font-size: 15px;
}

.sub-nav .nav-underscore > .active > a, .sub-nav .nav-underscore > li > a:hover {
    border-width: 0;
    background-color: transparent;
}

.project-navigation .nav-body ul.nav > li > a {
    margin: 0;
    padding: 15px 0;
}

.page-view-design .project-navigation {
    top: 48px;
    z-index: 30000;
}

.sub-nav .nav-underscore > li > a:after {
    transition: opacity 218ms ease, border-width 218ms ease;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-bottom: 0 solid #3DA8F5;
    content: '';
    opacity: 0;
}

.sub-nav .nav-underscore > .active > a:after, .sub-nav .nav-underscore > li > a:hover:after {
    border-width: 3px;
    opacity: 1;
}

.bread:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.projects-grid {
    margin-top: 48px;
}

.project {
    position: relative;
    height: 148px;
    margin: 14px;
    background-size: cover;
    background-color: #CCC;
    background-position: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 218ms;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
}

.project {
    width: 254px;
    height: 128px;
}

.project:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 7px 21px rgba(0, 0, 0, .15);
}

.project.add-project-button {
    background-color: #FFF;
    transition: all 218ms;
}

.project.add-project-button .create-project-handler {
    display: block;
    height: 100%;
    padding-top: 32px;
    color: #A6A6A6;
    text-align: center;
    transition: all 218ms;
}

.project.add-project-button .create-project-handler .icon-circle-cross {
    display: block;
    margin-bottom: 25px;
    font-size: 36px;
}

.project.add-project-button .create-project-handler .add-project-button-label {
    font-size: 18px;
}

.project.add-project-button .create-project-handler .fa-plus-circle {
    display: block;
    margin-bottom: 15px;
    font-size: 36px;
}

.project.add-project-button:hover .create-project-handler {
    color: #3DA8F5;
}

.project-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 10px 15px 30px;
    color: #FFF;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#00000000', GradientType=0);
}

.project-info .info-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.project-name {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 4px;
}

.project-name h3 {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.message-item .message-info .message-creator-name .name-limit,
.project-desc,
.project-name,
.project-name h3,
.project-name,
.project-name h3,
.project-name p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.increase-popover-width {
    max-width: 400px;
}

.border-bottom-dotted:hover {
    border-bottom: dotted 1px #000000;
}

.datatable-cell .button-edit {
    /*display: none;*/
    visibility: hidden;
    cursor: pointer;
}

.datatable-cell:hover .button-edit {
    display: inline;
    visibility: visible;
}