<!-- navbar -->
<div data-ng-include=" 'tpl/blocks/header.html' " class="navbar navbar-default navbar-fixed-top navigator" id="navigator">
</div>
<!-- / navbar -->

<div class="container" ng-controller="ProjectsController">
    <div class="projects-grid">
        <div class="row">
            <div ng-repeat="project in projects" class="col-sm-3 project"
                 style="background-image: url('img/p{{project.ID%4+1}}.jpg')"
                 ui-sref="app.project({projectid:project.ID})">
                <header class="project-info">
                    <div class="info-wrap">
                        <div class="project-name hinted"><h3 ng-bind="project.Name"></h3></div>
                        <div class="edit-set"><a class="icon icon-star hinted flagged" data-title="取消星标"></a></div>
                    </div>
                    <p class="project-desc hinted"></p>
                </header>
            </div>
            <div class="col-sm-3 project add-project-button" ng-click="showcreatedialog()">
                <a class="create-project-handler">
                    <i class="fa fa-plus-circle"></i>
                    <span class="add-project-button-label">创建新项目</span>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- footer -->
<div class="app-footer wrapper b-t bg-light" style="position: fixed;bottom: 0;width: 100%;">
    <span class="pull-right">{{app.version}} </span>
    &copy; 2017 Copyright.
</div>
<!-- / footer -->
