<div ng-controller="PageEditController" class="page-view-design">
    <div class="project-navigation sub-nav sub-navigator">
        <div class="row-flex">
            <div class="nav-header">
                 <span uib-dropdown>
                    <a href id="simple-dropdown" uib-dropdown-toggle>
                        {{getcurrentpage().Title}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <!--<li ng-repeat="choice in items">-->
                        <!--<a href>{{choice}}</a>-->
                        <!--</li>-->
                        <li ng-repeat="page in pages">
                            <a ui-sref="app.project.design({projectid:page.ProjectID, pageid:page.ID})">
                                {{page.Title}}
                                <span class="pull-right" ng-show="page.IsPublic==1"><i class="fa fa-fw fa-eye"></i></span>
                            </a>
                        </li>
                        <li>

                            <a ng-click="pinpagelistbar=true">固定</a>
                        </li>
                    </ul>
                </span>
            </div>
            <section class="nav-body">
                <ul class="nav nav-underscore pull-left">
                    <li ng-class="{'active':editable}"><a class="app" data-app="works" ng-click="editable=true"> 设计 </a></li>
                    <li ng-class="{'active':!editable}"><a class="app" data-app="events" ng-click="editable=false"> 预览 </a></li>
                </ul>
            </section>
            <div class="nav-footer">
                <a class="nav-menu-handler" ng-click="savequery()"><i class="fa fa-fw fa-save"></i> 保存 </a>

                <a class="nav-menu-handler" ng-click="pageinfo.IsPublic=pageinfo.IsPublic==1?0:1">
                    <i class="fa fa-fw" ng-class="{'fa-eye':pageinfo.IsPublic==1,'fa-eye-slash':pageinfo.IsPublic==0}"></i>
                    {{pageinfo.IsPublic==1?'公开':'私有'}}
                </a>
            </div>
        </div>
    </div>
    <design config="Component" editable="editable" debug="app.debug"></design>
    {{project}}
    {{users}}
</div>
<style>

</style>
